#battMgmtDisplay{
    display: none;
}

#calcPageDisplay{
    display: none;
}

#safetyDisplay{
    display: none;
}

#credPageDisplay{
    display: none;
}

#modelPageDisplay{
    display: none;
}